.surfboards-list {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

  height: 100%;
  background-image: url("https://res.cloudinary.com/dhkeoqhmp/image/upload/v1633555215/PROJECT-4.%20KAIMANA%20SURFBOARDS%20APP/surfboards-page_qbezg0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.surfboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}


.surfboard {
  height: 400px;
  transition: transform .2s;
}

.surfboard:hover {
  transform: scale(1.1);
}



  
