.surfboards-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center ;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dhkeoqhmp/image/upload/v1633555215/PROJECT-4.%20KAIMANA%20SURFBOARDS%20APP/surfboards-page_qbezg0.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
}

.surfboard-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;
  padding-top: 0px;
  width: 27%;

  
}



.surfboard {
  align-items: center;
  height: 400px;
  transition: transform .2s;
  
}

.surfboard:hover {
  transform: scale(1.1);
}



  
@media screen and (max-width: 480px) {
  .surfboard-container 
   {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .surfboard {
    height: 350px;
  }
}