.nav {
  
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: black;
    opacity: 85%;
    height: 6rem;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .kaimana-logo {
    height: 50%; 
    /* border: rgb(208, 255, 0) 4px solid; */
    margin-top: 15px;

  }
  
  .links {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 50px;
    resize: vertical;
    }

  .link {
    display: flex;
    flex-direction: row;
    font-size: 20px;    
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
    text-decoration: none;
  }

  .link:hover{
    color:yellow;
  }

  #signout-button {
    background: none;
    border: none;
    font-size: 16px;
  }

  

  /* @media screen and (max-width: 480px) {
    .nav {
      width: 65%;
      height: 55%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  } */

  @media all and (max-width: 480px) {
    .nav {
      flex-direction: row;
      width: 100%;
    }
    .nav-block {
      flex-direction: column;
      width: 20%;
    }
    .links {
      display: none;
      width: 100%;
      margin-top: 0;
    }
  }

