.create-page {
  height: 95%;
  background-image: url("https://res.cloudinary.com/dhkeoqhmp/image/upload/v1633638267/PROJECT-4.%20KAIMANA%20SURFBOARDS%20APP/create-page-1_ygsku1.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 82px;
}

.create-title {
  font-size: 25px;
  margin-top: 210px;
  margin-bottom: 0px;
  color: rgb(220, 220, 0);

}

.create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 600px;
  
}

.input2 {
  width: 100%;
  padding: 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  width:30%;
  margin-bottom: 0px;

  
}

.create-button {
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
    margin: 1px ;
    border: none;
    cursor: pointer;
    width: 20%;
    /* opacity: 0.9; */
    font-size: 15px;
    margin-top: 0px;
  }
