



.details-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  background-image: url("https://res.cloudinary.com/dhkeoqhmp/image/upload/v1633555215/PROJECT-4.%20KAIMANA%20SURFBOARDS%20APP/surfboards-page_qbezg0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1{
  text-align: center;
}
h3 {
  margin-top: 0px;
  margin-bottom: -5px;
}
p {
  margin-top: 0px;
}
.surfboard-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 50px;
  margin-top: 35px;

}

.board-image {
  height: 450px;

}

.surfboard-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  color: white;
  align-items: flex-start;
  width: 40%;
  height: 80%;
  margin-top: 135px;
  background-color: rgb(149, 147, 147);
  opacity: 75%;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .details-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .surfboard-description {
  font-size: 9px;
  margin-top: 50px;


  }

  h1 {
    margin-top: 75px;
  }
  

  .board-image {
    height: 350px;
  
  }
}