

 .home {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dhkeoqhmp/image/upload/v1633838175/PROJECT-4.%20KAIMANA%20SURFBOARDS%20APP/frontcover-surfing-4_ugjmbi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

