

 .home {
  height: 100%;
  background-image: url("https://res.cloudinary.com/dhkeoqhmp/image/upload/v1633052650/PROJECT-4.%20KAIMANA%20SURFBOARDS%20APP/frontcover-surfing-4_caikwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

